root = true

[*.{kt,kts}]
ktlint_code_style = intellij_idea
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_comment-wrapping = disabled
ktlint_standard_parameter-list-wrapping = disabled
ktlint_function_signature_rule_force_multiline = false
ij_kotlin_call_parameters_wrap = off
ij_kotlin_method_parameters_wrap = off
ij_kotlin_align_multiline_parameters = false
